<div class="container">
        <h3>Consultar mesas disponibles</h3>
        
        <form novalidate name="form" id="sucursal-form" role="form">

         <div ng-messages="form.$error">
                <div ng-message="required">Fill the required fields!</div>
         </div>
            
         <fieldset>
            
            <div class="form-group" >
                <label for="fecha" class="col-md-2 control-label">Fecha</label>
                <div class="col-md-12">
                    <input id="fecha" name="fecha" class="form-control" type="date" ng-model="fecha" required />
                </div>
            </div>
            <button ng-click="sucursalCtrl.mesasFecha(currentRecord.id, fecha)" class="btn btn-default"> Consultar</button>
            <button class="btn btn-default" type="button" ui-sref='sucursalList'>Cancelar</button>
         </fieldset>
         
            <hr>
            
            <div class="well" ng-if="dato">
            {{ dato }} 
            </div>
            
        </form>
</div>
