<!DOCTYPE html>
<div class="container-fluid">                                     <!--Contenedor del estado-->
    
    <h2>Tarjeta de puntos</h1>
    
    <table ng-show="currentRecord.tarjetaPuntos!=null" class="table table-bordered table-hover">            <!--Tabla-->
        <thead>                                                     <!--Headers de la tabla-->
            <tr>
                <th>Numero tarjeta</th>
                <th>Fecha de vencimiento</th>
                <th>Puntos acumulados</th>
            </tr>
        </thead>
        
        <tbody>                                                     <!--Cuerpo de la tabla-->
            <tr>
                <td>{{currentRecord.tarjetaPuntos.id}}</td>
                <td>{{currentRecord.tarjetaPuntos.fechaCaducidad.toString()}}</td>
                <td>{{currentRecord.tarjetaPuntos.acumulado}}</td>
            </tr>
        </tbody>
    </table>
    
    <button ng-show="currentRecord.tarjetaPuntos!=null" id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="clienteCtrl.eliminarTarjetaPuntosCliente(currentRecord.id)"><span class="glyphicon glyphicon-remove"></span>Cancelar tarjeta de puntos</button>
    <button ng-show="currentRecord.tarjetaPuntos==null" id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="clienteCtrl.agregarTarjetaPuntosCliente(currentRecord.id)"><span class="glyphicon glyphicon-heart"></span>Obtener tarjeta de puntos</button>
    
</div>