<!DOCTYPE html>
<div class="container-fluid">                                     <!--Contenedor del estado-->
    <h1>Tus Medios de Pago Registrados</h1>
    
    <table class="table table-bordered table-hover">            <!--Tabla-->
        <thead>                                                     <!--Headers de la tabla-->
            <tr>
                <th>Id</th>
                <th>Nottttmbre</th>
                <th>Apellidos</th>
                <th>Direccion</th>
                <th>Numero_Tarjeta</th>
            </tr>
        </thead>
        
        <tbody>                                                     <!--Cuerpo de la tabla-->
            <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-nombre">{{record.nombre}}</td>
                <td id="{{$index}}-apellidos">{{record.apellidos}}</td>
                <td id="{{$index}}-direccion">{{record.direccion}}</td>
                <td id="{{$index}}-numerostarjeta">{{record.numerostarjeta}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="medioEdit({medioId: record.id})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-medio-delete-btn" class="btn btn-default btn-sm" ng-click="medioCtrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span>Eliminar</button>
                </td>
        </tr>
        
        </tbody>
            
    </table>
   
    
</div>