<head>
    <title>Formulario sucursal</title>

</head>
<div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="sucursalCtrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="sucursal-form" role="form" ng-submit="form.$valid && sucursalCtrl.saveRecord(currentRecord.id)">

        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>

        <fieldset>

            <div class="form-group col-md-12" >
                <label for="ciudad" class="col-md-2 control-label">Ciudad:</label>
                <div class="col-md-10">
                    <input id="ciudad" name="ciudad" class="form-control" type="text" ng-model="currentRecord.ciudad" ng-init="currentRecord.ciudad" required />
                </div>
            </div>
            
            <div class="form-group col-md-12" >
                <label for="direccion" class="col-md-2 control-label">Direccion:</label>
                <div class="col-md-10">
                    <input id="direccion" name="direccion" class="form-control" type="text" ng-model="currentRecord.direccion" ng-init="currentRecord.direccion" required />
                </div>
            </div>

            <div class="form-group col-md-12" >
                <label for="mesas" class="col-md-2 control-label">Mesas:</label>
                <div class="col-md-10">
                    <input id="mesas" name="mesas" class="form-control" type="number" ng-model="currentRecord.mesas" ng-init="currentRecord.mesas" required />
                </div>
            </div>

            <div class="form-group col-md-12" >
                <label for="calificacion" class="col-md-2 control-label">Calificacion:</label>
                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                <label class="radio-inline"><input type="radio" name="optradio">5</label>
            </div>
            <button type="button" ui-sref='sucursalList'>Cancelar</button>
            <button type="submit" >Guardar</button>
        </fieldset>
    </form>


</div>
