
<head>
    <title>Sucursales</title>

</head>
<div>
    <div class="container">
        <h2>Lista de sucursales</h2>

        <table class="table table-striped" class="col-md-6">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ciudad</th>
                    <th>Direccion</th>
                    <th>Mesas</th>
                    <th>Calificacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="record in records">
                    <td id ="{{$index}}-id">{{record.id}}</td>
                    <td id ="{{$index}}-ciudad">{{record.ciudad}}</td>
                    <td id ="{{$index}}-direccion">{{record.direccion}}</td>
                    <td id ="{{$index}}-mesas">{{record.mesas}}</td>
                    <td id ="{{$index}}-calificacion">{{record.calificacion}}</td>

                    <td><button  id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="sucursalEdit({sucursalId: record.id})"><span class="glyphicon glyphicon-edit"></span>Editar</button>
                        <button  id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="sucursalCtrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
