<!DOCTYPE html>
<div class="container-fluid">                                     <!--Contenedor del estado-->
    <h1>Nuestros Felices Clientes</h1>
    <table class="table table-bordered table-hover">            <!--Tabla-->
        <thead>                                                     <!--Headers de la tabla-->
            <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Tarjeta de puntos</th>
            </tr>
        </thead>
        
        <tbody>                                                     <!--Cuerpo de la tabla-->
            <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-nombre">{{record.nombre}}</td>
                <td id="{{$index}}-apellidos">{{record.apellidos}}</td>
                <td id="{{$index}}-direccion">{{record.direccion}}</td>
                <td id="{{$index}}-telefono">{{record.telefono}}</td>
                <td id="{{$index}}-tarjetaPuntos">{{(record.tarjetaPuntos!=null)?record.tarjetaPuntos.id:'No tiene'}}
                    <button ng-show="record.tarjetaPuntos!=null" id="{{$index}}-agregarTarjeta-btn" class="btn btn-default btn-sm" ui-sref="clienteVerTarjetaPuntos({clienteId: record.id})"><span class="glyphicon glyphicon-edit"></span>Ver</button>
                    <button ng-show="record.tarjetaPuntos!=null" id="{{$index}}-agregarTarjeta-btn" class="btn btn-default btn-sm" ui-sref="clienteSumarPuntos({clienteId: record.id})"><span class="glyphicon glyphicon-edit"></span>Sumar puntos</button>
                    <button ng-show="record.tarjetaPuntos!=null" id="{{$index}}-agregarTarjeta-btn" class="btn btn-default btn-sm" ng-click="clienteCtrl.eliminarTarjetaPuntosCliente(record.id)"><span class="glyphicon glyphicon-remove"></span>Eliminar</button>
                    <button ng-show="record.tarjetaPuntos==null" id="{{$index}}-agregarTarjeta-btn" class="btn btn-default btn-sm" ng-click="clienteCtrl.agregarTarjetaPuntosCliente(record.id)"><span class="glyphicon glyphicon-credit-card"></span>Crear</button>
                </td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="clienteEdit({clienteId: record.id})"><span class="glyphicon glyphicon-edit"></span>Editar</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="clienteCtrl.eliminarCliente(record.id)"><span class="glyphicon glyphicon-remove"></span>Eliminar</button>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="clienteVistaCliente({clienteId: record.id})"><span class="glyphicon glyphicon-edit"></span>VERVISTA</button>
                </td>
        </tr>
        
        </tbody>
            
    </table>
   
    
</div>